name: build-and-test

on: push

jobs:

  buildandtest:

    name: Build and test the program

    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: echo "CHANGED_FILES=$(git diff --name-only ${{ github.event.before }}..${{ github.event.after }})" >> $GITHUB_ENV
      
      - name: Build1 
        run: |
          cd Lab1/ 
          make Lab1_2_Test
          ./Lab1_2_Test 
      
      - name: Build2
        run: |
          cd lab2/Lab2_1 
          make Lab2_1_Test
          ./Lab2_1_Test
          cd ../Lab2_2 
          make Lab2_2_Test 
          ./Lab2_2_Test
