name: build-and-test

on: push

jobs:

  buildandtest:

    name: Build and test the program

    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
#      - name: Build1 
#       run: |
#          cd Lab1/ 
#          make Lab1_2_Test
#          ./Lab1_2_Test 
      
      - name: Build2
        run: |
          make Lab2_1_Test
          ./Lab2_1_Test
          make Lab2_2_Test 
          ./Lab2_2_Test
